.face {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: lightblue;
    border: 3px solid black;
    border-radius: 20px;
}

.face:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 50%;
    width: 4px;
    height: 2px;
    margin-left: -4px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.face:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 50%;
    width: 10px;
    height: 5px;
    margin-left: -7px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 0 8px 8px;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}