.face {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: lightblue;
    border: 3px solid black;
    border-radius: 20px;
}

.face:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 50%;
    width: 4px;
    height: 2px;
    margin-left: -4px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.face:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 50%;
    width: 10px;
    height: 5px;
    margin-left: -7px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 0 8px 8px;
}